*:focus {
  outline: 1px solid #00A9DF;
  outline: auto -webkit-focus-ring-color;
  outline-color: #00A9DF; }

*:active {
  outline: 0; }

@media all and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  *:focus {
    outline: 0; }
  a:focus,
  button:focus,
  input:focus,
  optgroup:focus,
  select:focus,
  textarea:focus,
  [type="button"]:focus,
  [type="reset"]:focus,
  [type="submit"]:focus,
  [type="checkbox"]:focus,
  [type="radio"]:focus,
  [type="search"]:focus {
    outline: 1px solid #00A9DF;
    outline: auto -webkit-focus-ring-color;
    outline-color: #00A9DF; } }

html,
body,
.page-container {
  background-color: #F1F1F1;
  min-height: 100%; }

.page-container {
  position: relative; }
  .page-container.themeless .show-for-lv-cx,
  .page-container.themeless .show-for-lv-px,
  .page-container.themeless .show-for-nm-cx,
  .page-container.themeless .show-for-nm-px {
    display: none !important; }
  .page-container.lv-cx-theme .show-for-lv-px,
  .page-container.lv-cx-theme .show-for-nm-cx,
  .page-container.lv-cx-theme .show-for-nm-px,
  .page-container.lv-cx-theme .show-for-nm,
  .page-container.lv-cx-theme .themeless {
    display: none !important; }
  .page-container.lv-px-theme .show-for-lv-cx,
  .page-container.lv-px-theme .show-for-nm-cx,
  .page-container.lv-px-theme .show-for-nm-px,
  .page-container.lv-px-theme .show-for-nm,
  .page-container.lv-px-theme .themeless {
    display: none !important; }
  .page-container.nm-cx-theme .show-for-lv-cx,
  .page-container.nm-cx-theme .show-for-lv-px,
  .page-container.nm-cx-theme .show-for-nm-px,
  .page-container.nm-cx-theme .show-for-lv,
  .page-container.nm-cx-theme .themeless {
    display: none !important; }
  .page-container.nm-px-theme .show-for-lv-cx,
  .page-container.nm-px-theme .show-for-lv-px,
  .page-container.nm-px-theme .show-for-nm-cx,
  .page-container.nm-px-theme .show-for-lv,
  .page-container.nm-px-theme .themeless {
    display: none !important; }

.ss-title {
  position: relative;
  width: 100%;
  color: #444;
  letter-spacing: 0.0625rem;
  background-color: #e6e6e6;
  letter-spacing: 1px;
  display: inline-block;
  border-top-left-radius: 0;
  border-bottom-right-radius: 0;
  font-size: 0.75rem;
  padding: 0.5em 0.75em;
  border-bottom: 1px solid #e6e6e6;
  border-right: 1px solid #e6e6e6; }
  .ss-title:hover {
    background-color: #A4C740;
    cursor: pointer; }
  .ss-title .icon-code {
    float: right; }
  .ss-title .show-hide-code {
    padding: 0.9375rem;
    width: 6.875rem; }

.codeBlock {
  background-color: #f1f1f1;
  border: 0.0625rem solid #e6e6e6;
  border-radius: 0;
  overflow: auto;
  padding: 1rem;
  margin-bottom: 1.25rem; }
  .codeExample > .codeBlock {
    margin-bottom: 0; }
  .codeBlock.markup {
    display: none;
    margin-bottom: 0; }
  .codeBlock pre {
    white-space: pre-wrap;
    word-wrap: normal; }

.codeExample {
  border: 0.0625rem solid #e6e6e6;
  border-radius: 0;
  margin-bottom: 1.25rem; }
  .codeExample .codeBlock {
    border-left: 0;
    border-right: 0;
    border-bottom: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    margin: 0; }
  .codeExample .exampleOutput {
    padding: 1rem; }

.color-palette {
  list-style-type: none; }

.palette-entry {
  border-radius: 0.25rem;
  border: 1px solid #CCC;
  display: inline-block;
  margin-bottom: 2rem;
  overflow: hidden;
  width: 100%; }
  .palette-entry .swatch-main,
  .palette-entry .details {
    padding: 0.5rem 0;
    width: 100%; }
  .palette-entry .details {
    border-top: inherit; }
  .palette-entry .swatch-main {
    height: 7rem; }
  .palette-entry .color-hex {
    display: block;
    color: #777; }
  .palette-entry .color-var-name {
    font-size: 0.7rem; }
    @media all and (min-width: 64.0625em) {
      .palette-entry .color-var-name {
        font-size: 0.8rem; } }

.highlight .c {
  color: #999988;
  font-style: italic; }

.highlight .err {
  color: #a61717;
  background-color: #e3d2d2; }

.highlight .k {
  color: #000000;
  font-weight: bold; }

.highlight .o {
  color: #000000;
  font-weight: bold; }

.highlight .cm {
  color: #999988;
  font-style: italic; }

.highlight .cp {
  color: #999999;
  font-weight: bold;
  font-style: italic; }

.highlight .c1 {
  color: #999988;
  font-style: italic; }

.highlight .cs {
  color: #999999;
  font-weight: bold;
  font-style: italic; }

.highlight .gd {
  color: #000000;
  background-color: #ffdddd; }

.highlight .ge {
  color: #000000;
  font-style: italic; }

.highlight .gr {
  color: #aa0000; }

.highlight .gh {
  color: #999999; }

.highlight .gi {
  color: #000000;
  background-color: #ddffdd; }

.highlight .go {
  color: #888888; }

.highlight .gp {
  color: #555555; }

.highlight .gs {
  font-weight: bold; }

.highlight .gu {
  color: #aaaaaa; }

.highlight .gt {
  color: #aa0000; }

.highlight .kc {
  color: #000000;
  font-weight: bold; }

.highlight .kd {
  color: #000000;
  font-weight: bold; }

.highlight .kn {
  color: #000000;
  font-weight: bold; }

.highlight .kp {
  color: #000000;
  font-weight: bold; }

.highlight .kr {
  color: #000000;
  font-weight: bold; }

.highlight .kt {
  color: #445588;
  font-weight: bold; }

.highlight .m {
  color: #009999; }

.highlight .s {
  color: #d01040; }

.highlight .na {
  color: #008080; }

.highlight .nb {
  color: #0086B3; }

.highlight .nc {
  color: #445588;
  font-weight: bold; }

.highlight .no {
  color: #008080; }

.highlight .nd {
  color: #3c5d5d;
  font-weight: bold; }

.highlight .ni {
  color: #800080; }

.highlight .ne {
  color: #990000;
  font-weight: bold; }

.highlight .nf {
  color: #990000;
  font-weight: bold; }

.highlight .nl {
  color: #990000;
  font-weight: bold; }

.highlight .nn {
  color: #555555; }

.highlight .nt {
  color: #000080; }

.highlight .nv {
  color: #008080; }

.highlight .ow {
  color: #000000;
  font-weight: bold; }

.highlight .w {
  color: #bbbbbb; }

.highlight .mf {
  color: #009999; }

.highlight .mh {
  color: #009999; }

.highlight .mi {
  color: #009999; }

.highlight .mo {
  color: #009999; }

.highlight .sb {
  color: #d01040; }

.highlight .sc {
  color: #d01040; }

.highlight .sd {
  color: #d01040; }

.highlight .s2 {
  color: #d01040; }

.highlight .se {
  color: #d01040; }

.highlight .sh {
  color: #d01040; }

.highlight .si {
  color: #d01040; }

.highlight .sx {
  color: #d01040; }

.highlight .sr {
  color: #009926; }

.highlight .s1 {
  color: #d01040; }

.highlight .ss {
  color: #990073; }

.highlight .bp {
  color: #999999; }

.highlight .vc {
  color: #008080; }

.highlight .vg {
  color: #008080; }

.highlight .vi {
  color: #008080; }

.highlight .il {
  color: #009999; }

.sg-content {
  background-color: #FFFFFF;
  padding-top: 1rem; }
  .sg-content h1 {
    margin-top: 2.5rem;
    margin-bottom: 1rem;
    border-bottom: 1px solid #E6E6E6; }
    .sg-content h1:first-child {
      margin-top: 0; }

.sg-content .codeExample h1 {
  margin-top: 0.2rem;
  margin-bottom: 0.5rem;
  border-bottom: none; }
  .sg-content .codeExample h1:first-child {
    margin-top: 0.2rem; }

.font-family-titles {
  background-color: transparent;
  border-top: 0.0625rem solid #007AA3;
  border-bottom: 0.0625rem solid #007AA3;
  color: #007AA3;
  font-size: 0.875rem;
  font-weight: bold;
  line-height: 1.875rem;
  margin-bottom: 0.625rem;
  padding-bottom: 0 !important;
  text-align: center; }

button.burger {
  display: inline-block;
  cursor: pointer;
  opacity: 0.8;
  outline: 0; }
  button.burger:hover {
    opacity: 1; }
  button.burger:active {
    opacity: 0.8; }

.burger-content, .burger:before,
.burger:after {
  display: block;
  background-color: white;
  width: 1.5rem;
  height: 0.1875rem;
  margin: 0.375rem 0;
  transform-origin: 50% 50% 0;
  transition: all 0.3s ease; }

.burger:before,
.burger:after {
  content: ' '; }

.sg-sidebar {
  background-color: transparent;
  border-bottom-left-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
  border-bottom: 0;
  max-height: 100%; }
  .sg-sidebar li {
    line-height: 1.5rem; }

.sg-sidebar a,
.sg-category-nav a {
  text-decoration: none;
  font-size: 0.875rem; }
  .sg-sidebar a:hover,
  .sg-category-nav a:hover {
    text-decoration: underline; }
  .sg-sidebar a:visited,
  .sg-category-nav a:visited {
    color: #00A9DF; }

.modal .sg-category-nav a {
  font-size: 1.125rem;
  line-height: 1.5rem; }

.sg-sidebar-wrapper {
  display: none; }

@media all and (min-width: 40.0625em) {
  .sg-sidebar-wrapper {
    width: 100%;
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    padding-top: 3.25rem; } }

.sg-footer {
  background-color: #E6E6E6;
  position: absolute;
  bottom: 0;
  width: 100%; }

.sg-nav h1 a {
  color: white; }
  .sg-nav h1 a:hover, .sg-nav h1 a:active {
    background-color: transparent;
    color: white; }

.sg-nav {
  background-color: #00A9DF;
  color: white;
  z-index: 100; }
  .sg-nav h1 {
    font-size: 1rem;
    line-height: 2.25rem;
    font-weight: normal; }
    .sg-nav h1 a {
      line-height: 2.25rem; }
  .sg-nav .name a {
    padding: 0;
    display: inline; }
  .sg-nav a {
    text-decoration: none;
    display: block; }
    .sg-nav a:hover {
      text-decoration: underline; }

.sg-icon-entry-name {
  display: inline-block;
  vertical-align: middle; }

.sg-icon-entry-glyph {
  font-size: 1.25rem; }

.sg-illustrative-icon {
  height: 5rem; }
  .sg-illustrative-icon span {
    vertical-align: middle; }

.sg-illustrative-eg {
  padding-left: 2.5rem; }
  @media all and (min-width: 40.0625em) {
    .sg-illustrative-eg {
      padding-left: 5rem; } }

.sg-content .md-text-field.icon-right {
  padding-left: 1.875rem; }

.grid-example .column:before, .grid-example
.columns:before, .grid-example
.col:before, .grid-spacing-example .column:before, .grid-spacing-example
.columns:before, .grid-spacing-example
.col:before, .grid-fill-example .cell-props {
  border: 1px solid #CCCCCC;
  background-color: #E6E6E6; }

.grid-spacing-example .column:before, .grid-spacing-example
.columns:before, .grid-spacing-example
.col:before, .grid-fill-example .cell-props {
  padding-top: 1rem;
  padding-bottom: 1rem; }

.grid-example > .row:first-child {
  margin-top: -1rem; }

.grid-example .column, .grid-example
.columns, .grid-example
.col {
  margin-top: 1rem; }
  .grid-example .column:before, .grid-example
  .columns:before, .grid-example
  .col:before {
    content: 'full';
    padding: 0.25rem 1rem;
    display: block; }
  .grid-example .column:nth-child(even):before, .grid-example
  .columns:nth-child(even):before, .grid-example
  .col:nth-child(even):before {
    background-color: #F1F1F1; }
  .grid-example .small-1.column:before, .grid-example
  .small-1.columns:before, .grid-example
  .small-1.col:before {
    content: "1"; }
  .grid-example .small-2.column:before, .grid-example
  .small-2.columns:before, .grid-example
  .small-2.col:before {
    content: "2"; }
  .grid-example .small-3.column:before, .grid-example
  .small-3.columns:before, .grid-example
  .small-3.col:before {
    content: "3"; }
  .grid-example .small-4.column:before, .grid-example
  .small-4.columns:before, .grid-example
  .small-4.col:before {
    content: "4"; }
  .grid-example .small-5.column:before, .grid-example
  .small-5.columns:before, .grid-example
  .small-5.col:before {
    content: "5"; }
  .grid-example .small-6.column:before, .grid-example
  .small-6.columns:before, .grid-example
  .small-6.col:before {
    content: "6"; }
  .grid-example .small-7.column:before, .grid-example
  .small-7.columns:before, .grid-example
  .small-7.col:before {
    content: "7"; }
  .grid-example .small-8.column:before, .grid-example
  .small-8.columns:before, .grid-example
  .small-8.col:before {
    content: "8"; }
  .grid-example .small-9.column:before, .grid-example
  .small-9.columns:before, .grid-example
  .small-9.col:before {
    content: "9"; }
  .grid-example .small-10.column:before, .grid-example
  .small-10.columns:before, .grid-example
  .small-10.col:before {
    content: "10"; }
  .grid-example .small-11.column:before, .grid-example
  .small-11.columns:before, .grid-example
  .small-11.col:before {
    content: "11"; }
  .grid-example .small-12.column:before, .grid-example
  .small-12.columns:before, .grid-example
  .small-12.col:before {
    content: "12"; }
  .grid-example .small-13.column:before, .grid-example
  .small-13.columns:before, .grid-example
  .small-13.col:before {
    content: "13"; }
  .grid-example .small-14.column:before, .grid-example
  .small-14.columns:before, .grid-example
  .small-14.col:before {
    content: "14"; }
  .grid-example .small-15.column:before, .grid-example
  .small-15.columns:before, .grid-example
  .small-15.col:before {
    content: "15"; }
  .grid-example .small-16.column:before, .grid-example
  .small-16.columns:before, .grid-example
  .small-16.col:before {
    content: "16"; }
  .grid-example .small-17.column:before, .grid-example
  .small-17.columns:before, .grid-example
  .small-17.col:before {
    content: "17"; }
  .grid-example .small-18.column:before, .grid-example
  .small-18.columns:before, .grid-example
  .small-18.col:before {
    content: "18"; }
  .grid-example .small-19.column:before, .grid-example
  .small-19.columns:before, .grid-example
  .small-19.col:before {
    content: "19"; }
  .grid-example .small-20.column:before, .grid-example
  .small-20.columns:before, .grid-example
  .small-20.col:before {
    content: "20"; }
  .grid-example .small-21.column:before, .grid-example
  .small-21.columns:before, .grid-example
  .small-21.col:before {
    content: "21"; }
  .grid-example .small-22.column:before, .grid-example
  .small-22.columns:before, .grid-example
  .small-22.col:before {
    content: "22"; }
  .grid-example .small-23.column:before, .grid-example
  .small-23.columns:before, .grid-example
  .small-23.col:before {
    content: "23"; }
  .grid-example .small-24.column:before, .grid-example
  .small-24.columns:before, .grid-example
  .small-24.col:before {
    content: "24"; }
  @media all and (min-width: 40.0625em) {
    .grid-example .medium-1.column:before, .grid-example
    .medium-1.columns:before, .grid-example
    .medium-1.col:before {
      content: "1"; } }
  @media all and (min-width: 40.0625em) {
    .grid-example .medium-2.column:before, .grid-example
    .medium-2.columns:before, .grid-example
    .medium-2.col:before {
      content: "2"; } }
  @media all and (min-width: 40.0625em) {
    .grid-example .medium-3.column:before, .grid-example
    .medium-3.columns:before, .grid-example
    .medium-3.col:before {
      content: "3"; } }
  @media all and (min-width: 40.0625em) {
    .grid-example .medium-4.column:before, .grid-example
    .medium-4.columns:before, .grid-example
    .medium-4.col:before {
      content: "4"; } }
  @media all and (min-width: 40.0625em) {
    .grid-example .medium-5.column:before, .grid-example
    .medium-5.columns:before, .grid-example
    .medium-5.col:before {
      content: "5"; } }
  @media all and (min-width: 40.0625em) {
    .grid-example .medium-6.column:before, .grid-example
    .medium-6.columns:before, .grid-example
    .medium-6.col:before {
      content: "6"; } }
  @media all and (min-width: 40.0625em) {
    .grid-example .medium-7.column:before, .grid-example
    .medium-7.columns:before, .grid-example
    .medium-7.col:before {
      content: "7"; } }
  @media all and (min-width: 40.0625em) {
    .grid-example .medium-8.column:before, .grid-example
    .medium-8.columns:before, .grid-example
    .medium-8.col:before {
      content: "8"; } }
  @media all and (min-width: 40.0625em) {
    .grid-example .medium-9.column:before, .grid-example
    .medium-9.columns:before, .grid-example
    .medium-9.col:before {
      content: "9"; } }
  @media all and (min-width: 40.0625em) {
    .grid-example .medium-10.column:before, .grid-example
    .medium-10.columns:before, .grid-example
    .medium-10.col:before {
      content: "10"; } }
  @media all and (min-width: 40.0625em) {
    .grid-example .medium-11.column:before, .grid-example
    .medium-11.columns:before, .grid-example
    .medium-11.col:before {
      content: "11"; } }
  @media all and (min-width: 40.0625em) {
    .grid-example .medium-12.column:before, .grid-example
    .medium-12.columns:before, .grid-example
    .medium-12.col:before {
      content: "12"; } }
  @media all and (min-width: 40.0625em) {
    .grid-example .medium-13.column:before, .grid-example
    .medium-13.columns:before, .grid-example
    .medium-13.col:before {
      content: "13"; } }
  @media all and (min-width: 40.0625em) {
    .grid-example .medium-14.column:before, .grid-example
    .medium-14.columns:before, .grid-example
    .medium-14.col:before {
      content: "14"; } }
  @media all and (min-width: 40.0625em) {
    .grid-example .medium-15.column:before, .grid-example
    .medium-15.columns:before, .grid-example
    .medium-15.col:before {
      content: "15"; } }
  @media all and (min-width: 40.0625em) {
    .grid-example .medium-16.column:before, .grid-example
    .medium-16.columns:before, .grid-example
    .medium-16.col:before {
      content: "16"; } }
  @media all and (min-width: 40.0625em) {
    .grid-example .medium-17.column:before, .grid-example
    .medium-17.columns:before, .grid-example
    .medium-17.col:before {
      content: "17"; } }
  @media all and (min-width: 40.0625em) {
    .grid-example .medium-18.column:before, .grid-example
    .medium-18.columns:before, .grid-example
    .medium-18.col:before {
      content: "18"; } }
  @media all and (min-width: 40.0625em) {
    .grid-example .medium-19.column:before, .grid-example
    .medium-19.columns:before, .grid-example
    .medium-19.col:before {
      content: "19"; } }
  @media all and (min-width: 40.0625em) {
    .grid-example .medium-20.column:before, .grid-example
    .medium-20.columns:before, .grid-example
    .medium-20.col:before {
      content: "20"; } }
  @media all and (min-width: 40.0625em) {
    .grid-example .medium-21.column:before, .grid-example
    .medium-21.columns:before, .grid-example
    .medium-21.col:before {
      content: "21"; } }
  @media all and (min-width: 40.0625em) {
    .grid-example .medium-22.column:before, .grid-example
    .medium-22.columns:before, .grid-example
    .medium-22.col:before {
      content: "22"; } }
  @media all and (min-width: 40.0625em) {
    .grid-example .medium-23.column:before, .grid-example
    .medium-23.columns:before, .grid-example
    .medium-23.col:before {
      content: "23"; } }
  @media all and (min-width: 40.0625em) {
    .grid-example .medium-24.column:before, .grid-example
    .medium-24.columns:before, .grid-example
    .medium-24.col:before {
      content: "24"; } }
  @media all and (min-width: 64.0625em) {
    .grid-example .large-1.column:before, .grid-example
    .large-1.columns:before, .grid-example
    .large-1.col:before {
      content: "1"; } }
  @media all and (min-width: 64.0625em) {
    .grid-example .large-2.column:before, .grid-example
    .large-2.columns:before, .grid-example
    .large-2.col:before {
      content: "2"; } }
  @media all and (min-width: 64.0625em) {
    .grid-example .large-3.column:before, .grid-example
    .large-3.columns:before, .grid-example
    .large-3.col:before {
      content: "3"; } }
  @media all and (min-width: 64.0625em) {
    .grid-example .large-4.column:before, .grid-example
    .large-4.columns:before, .grid-example
    .large-4.col:before {
      content: "4"; } }
  @media all and (min-width: 64.0625em) {
    .grid-example .large-5.column:before, .grid-example
    .large-5.columns:before, .grid-example
    .large-5.col:before {
      content: "5"; } }
  @media all and (min-width: 64.0625em) {
    .grid-example .large-6.column:before, .grid-example
    .large-6.columns:before, .grid-example
    .large-6.col:before {
      content: "6"; } }
  @media all and (min-width: 64.0625em) {
    .grid-example .large-7.column:before, .grid-example
    .large-7.columns:before, .grid-example
    .large-7.col:before {
      content: "7"; } }
  @media all and (min-width: 64.0625em) {
    .grid-example .large-8.column:before, .grid-example
    .large-8.columns:before, .grid-example
    .large-8.col:before {
      content: "8"; } }
  @media all and (min-width: 64.0625em) {
    .grid-example .large-9.column:before, .grid-example
    .large-9.columns:before, .grid-example
    .large-9.col:before {
      content: "9"; } }
  @media all and (min-width: 64.0625em) {
    .grid-example .large-10.column:before, .grid-example
    .large-10.columns:before, .grid-example
    .large-10.col:before {
      content: "10"; } }
  @media all and (min-width: 64.0625em) {
    .grid-example .large-11.column:before, .grid-example
    .large-11.columns:before, .grid-example
    .large-11.col:before {
      content: "11"; } }
  @media all and (min-width: 64.0625em) {
    .grid-example .large-12.column:before, .grid-example
    .large-12.columns:before, .grid-example
    .large-12.col:before {
      content: "12"; } }
  @media all and (min-width: 64.0625em) {
    .grid-example .large-13.column:before, .grid-example
    .large-13.columns:before, .grid-example
    .large-13.col:before {
      content: "13"; } }
  @media all and (min-width: 64.0625em) {
    .grid-example .large-14.column:before, .grid-example
    .large-14.columns:before, .grid-example
    .large-14.col:before {
      content: "14"; } }
  @media all and (min-width: 64.0625em) {
    .grid-example .large-15.column:before, .grid-example
    .large-15.columns:before, .grid-example
    .large-15.col:before {
      content: "15"; } }
  @media all and (min-width: 64.0625em) {
    .grid-example .large-16.column:before, .grid-example
    .large-16.columns:before, .grid-example
    .large-16.col:before {
      content: "16"; } }
  @media all and (min-width: 64.0625em) {
    .grid-example .large-17.column:before, .grid-example
    .large-17.columns:before, .grid-example
    .large-17.col:before {
      content: "17"; } }
  @media all and (min-width: 64.0625em) {
    .grid-example .large-18.column:before, .grid-example
    .large-18.columns:before, .grid-example
    .large-18.col:before {
      content: "18"; } }
  @media all and (min-width: 64.0625em) {
    .grid-example .large-19.column:before, .grid-example
    .large-19.columns:before, .grid-example
    .large-19.col:before {
      content: "19"; } }
  @media all and (min-width: 64.0625em) {
    .grid-example .large-20.column:before, .grid-example
    .large-20.columns:before, .grid-example
    .large-20.col:before {
      content: "20"; } }
  @media all and (min-width: 64.0625em) {
    .grid-example .large-21.column:before, .grid-example
    .large-21.columns:before, .grid-example
    .large-21.col:before {
      content: "21"; } }
  @media all and (min-width: 64.0625em) {
    .grid-example .large-22.column:before, .grid-example
    .large-22.columns:before, .grid-example
    .large-22.col:before {
      content: "22"; } }
  @media all and (min-width: 64.0625em) {
    .grid-example .large-23.column:before, .grid-example
    .large-23.columns:before, .grid-example
    .large-23.col:before {
      content: "23"; } }
  @media all and (min-width: 64.0625em) {
    .grid-example .large-24.column:before, .grid-example
    .large-24.columns:before, .grid-example
    .large-24.col:before {
      content: "24"; } }
  @media all and (min-width: 75.0625em) {
    .grid-example .xlarge-1.column:before, .grid-example
    .xlarge-1.columns:before, .grid-example
    .xlarge-1.col:before {
      content: "1"; } }
  @media all and (min-width: 75.0625em) {
    .grid-example .xlarge-2.column:before, .grid-example
    .xlarge-2.columns:before, .grid-example
    .xlarge-2.col:before {
      content: "2"; } }
  @media all and (min-width: 75.0625em) {
    .grid-example .xlarge-3.column:before, .grid-example
    .xlarge-3.columns:before, .grid-example
    .xlarge-3.col:before {
      content: "3"; } }
  @media all and (min-width: 75.0625em) {
    .grid-example .xlarge-4.column:before, .grid-example
    .xlarge-4.columns:before, .grid-example
    .xlarge-4.col:before {
      content: "4"; } }
  @media all and (min-width: 75.0625em) {
    .grid-example .xlarge-5.column:before, .grid-example
    .xlarge-5.columns:before, .grid-example
    .xlarge-5.col:before {
      content: "5"; } }
  @media all and (min-width: 75.0625em) {
    .grid-example .xlarge-6.column:before, .grid-example
    .xlarge-6.columns:before, .grid-example
    .xlarge-6.col:before {
      content: "6"; } }
  @media all and (min-width: 75.0625em) {
    .grid-example .xlarge-7.column:before, .grid-example
    .xlarge-7.columns:before, .grid-example
    .xlarge-7.col:before {
      content: "7"; } }
  @media all and (min-width: 75.0625em) {
    .grid-example .xlarge-8.column:before, .grid-example
    .xlarge-8.columns:before, .grid-example
    .xlarge-8.col:before {
      content: "8"; } }
  @media all and (min-width: 75.0625em) {
    .grid-example .xlarge-9.column:before, .grid-example
    .xlarge-9.columns:before, .grid-example
    .xlarge-9.col:before {
      content: "9"; } }
  @media all and (min-width: 75.0625em) {
    .grid-example .xlarge-10.column:before, .grid-example
    .xlarge-10.columns:before, .grid-example
    .xlarge-10.col:before {
      content: "10"; } }
  @media all and (min-width: 75.0625em) {
    .grid-example .xlarge-11.column:before, .grid-example
    .xlarge-11.columns:before, .grid-example
    .xlarge-11.col:before {
      content: "11"; } }
  @media all and (min-width: 75.0625em) {
    .grid-example .xlarge-12.column:before, .grid-example
    .xlarge-12.columns:before, .grid-example
    .xlarge-12.col:before {
      content: "12"; } }
  @media all and (min-width: 75.0625em) {
    .grid-example .xlarge-13.column:before, .grid-example
    .xlarge-13.columns:before, .grid-example
    .xlarge-13.col:before {
      content: "13"; } }
  @media all and (min-width: 75.0625em) {
    .grid-example .xlarge-14.column:before, .grid-example
    .xlarge-14.columns:before, .grid-example
    .xlarge-14.col:before {
      content: "14"; } }
  @media all and (min-width: 75.0625em) {
    .grid-example .xlarge-15.column:before, .grid-example
    .xlarge-15.columns:before, .grid-example
    .xlarge-15.col:before {
      content: "15"; } }
  @media all and (min-width: 75.0625em) {
    .grid-example .xlarge-16.column:before, .grid-example
    .xlarge-16.columns:before, .grid-example
    .xlarge-16.col:before {
      content: "16"; } }
  @media all and (min-width: 75.0625em) {
    .grid-example .xlarge-17.column:before, .grid-example
    .xlarge-17.columns:before, .grid-example
    .xlarge-17.col:before {
      content: "17"; } }
  @media all and (min-width: 75.0625em) {
    .grid-example .xlarge-18.column:before, .grid-example
    .xlarge-18.columns:before, .grid-example
    .xlarge-18.col:before {
      content: "18"; } }
  @media all and (min-width: 75.0625em) {
    .grid-example .xlarge-19.column:before, .grid-example
    .xlarge-19.columns:before, .grid-example
    .xlarge-19.col:before {
      content: "19"; } }
  @media all and (min-width: 75.0625em) {
    .grid-example .xlarge-20.column:before, .grid-example
    .xlarge-20.columns:before, .grid-example
    .xlarge-20.col:before {
      content: "20"; } }
  @media all and (min-width: 75.0625em) {
    .grid-example .xlarge-21.column:before, .grid-example
    .xlarge-21.columns:before, .grid-example
    .xlarge-21.col:before {
      content: "21"; } }
  @media all and (min-width: 75.0625em) {
    .grid-example .xlarge-22.column:before, .grid-example
    .xlarge-22.columns:before, .grid-example
    .xlarge-22.col:before {
      content: "22"; } }
  @media all and (min-width: 75.0625em) {
    .grid-example .xlarge-23.column:before, .grid-example
    .xlarge-23.columns:before, .grid-example
    .xlarge-23.col:before {
      content: "23"; } }
  @media all and (min-width: 75.0625em) {
    .grid-example .xlarge-24.column:before, .grid-example
    .xlarge-24.columns:before, .grid-example
    .xlarge-24.col:before {
      content: "24"; } }

.grid-spacing-example .column:before, .grid-spacing-example
.columns:before, .grid-spacing-example
.col:before {
  content: ' ';
  display: block; }

.breakpoint-example .row {
  background-color: #E6E6E6;
  border: 1px solid #CCCCCC;
  margin-bottom: 1rem;
  padding: 1rem; }
  .breakpoint-example .row .label.success {
    padding: 0; }

.theme-switch-wrapper {
  margin-top: 0.0625rem; }
  .theme-switch-wrapper select {
    padding: 0.5rem;
    height: auto;
    display: inline-block;
    width: auto;
    min-width: 6rem; }

.toaster-fixed-region {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 0;
  overflow: visible; }

.toaster-grid {
  position: relative; }

.toaster-container {
  position: absolute;
  transition: top 0.5s;
  right: 2rem;
  display: block;
  top: 0; }

.toaster-content {
  border-top-left-radius: 0.5rem; }

.toaster-trigger {
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem; }

.height-full {
  height: 100%; }
