*:focus {
  outline: 1px solid #9C9C9C;
  outline: auto -webkit-focus-ring-color;
  outline-color: #9C9C9C; }

*:active {
  outline: 0; }

@media all and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  *:focus {
    outline: 0; }
  a:focus,
  button:focus,
  input:focus,
  optgroup:focus,
  select:focus,
  textarea:focus,
  [type="button"]:focus,
  [type="reset"]:focus,
  [type="submit"]:focus,
  [type="checkbox"]:focus,
  [type="radio"]:focus,
  [type="search"]:focus {
    outline: 1px solid #9C9C9C;
    outline: auto -webkit-focus-ring-color;
    outline-color: #9C9C9C; } }

.icon-ill-document-multiple {
  background-image: url("data:image/svg+xml;charset%3DUS-ASCII,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22UTF-8%22%3F%3E%3Csvg%20width%3D%2244px%22%20height%3D%2251px%22%20viewBox%3D%220%200%2044%2051%22%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%3E%20%20%20%20%20%20%20%20%3Ctitle%3Eill-document-multiple%3C%2Ftitle%3E%20%20%20%20%3Cdesc%3ECreated%20with%20Sketch.%3C%2Fdesc%3E%20%20%20%20%3Cdefs%3E%3C%2Fdefs%3E%20%20%20%20%3Cg%20id%3D%22Page-1%22%20stroke%3D%22none%22%20stroke-width%3D%221%22%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%20%20%20%20%20%20%20%20%3Cg%20id%3D%22Group%22%20transform%3D%22translate%28-32.000000%2C%20-37.000000%29%22%20stroke%3D%22%23FFFFFF%22%20stroke-width%3D%221.176%22%20fill-rule%3D%22nonzero%22%3E%20%20%20%20%20%20%20%20%20%20%20%20%3Cg%20id%3D%22ill-document-multiple%22%20transform%3D%22translate%2833.000000%2C%2038.000000%29%22%3E%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3Cpath%20d%3D%22M14.2592593%2C15.288%20L6.28703705%2C15.288%20C5.37962962%2C15.288%204.66666667%2C14.5693333%204.66666667%2C13.6546667%20L4.66666667%2C6.72933335%20C4.66666667%2C5.81466665%205.37962962%2C5.096%206.28703705%2C5.096%20L14.3240741%2C5.096%20C15.2314815%2C5.096%2015.9444444%2C5.81466665%2015.9444444%2C6.72933335%20L15.9444444%2C13.6546667%20C15.8796296%2C14.5693333%2015.1666667%2C15.288%2014.2592593%2C15.288%20Z%20M6.61111111%2C13.328%20L14%2C13.328%20L14%2C7.056%20L6.61111111%2C7.056%20L6.61111111%2C13.328%20Z%22%20id%3D%22Shape%22%20fill%3D%22%23FFB000%22%3E%3C%2Fpath%3E%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3Cpath%20d%3D%22M27.4059239%2C19.992%20L5.64963167%2C19.992%20C5.12538367%2C19.992%204.66666667%2C19.5346667%204.66666667%2C19.012%20C4.66666667%2C18.4893333%205.12538367%2C18.032%205.64963167%2C18.032%20L27.4059239%2C18.032%20C27.9301719%2C18.032%2028.3888889%2C18.4893333%2028.3888889%2C19.012%20C28.3888889%2C19.5346667%2027.9301719%2C19.992%2027.4059239%2C19.992%20Z%22%20id%3D%22Shape%22%20fill%3D%22%23002B49%22%3E%3C%2Fpath%3E%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3Cpath%20d%3D%22M27.4059239%2C24.304%20L5.64963167%2C24.304%20C5.12538367%2C24.304%204.66666667%2C23.8466667%204.66666667%2C23.324%20C4.66666667%2C22.8013333%205.12538367%2C22.344%205.64963167%2C22.344%20L27.4059239%2C22.344%20C27.9301719%2C22.344%2028.3888889%2C22.8013333%2028.3888889%2C23.324%20C28.3888889%2C23.8466667%2027.9301719%2C24.304%2027.4059239%2C24.304%20Z%22%20id%3D%22Shape%22%20fill%3D%22%23002B49%22%3E%3C%2Fpath%3E%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3Cpath%20d%3D%22M27.4059239%2C28.616%20L5.64963167%2C28.616%20C5.12538367%2C28.616%204.66666667%2C28.1586667%204.66666667%2C27.636%20C4.66666667%2C27.1133333%205.12538367%2C26.656%205.64963167%2C26.656%20L27.4059239%2C26.656%20C27.9301719%2C26.656%2028.3888889%2C27.1133333%2028.3888889%2C27.636%20C28.3888889%2C28.1586667%2027.9301719%2C28.616%2027.4059239%2C28.616%20Z%22%20id%3D%22Shape%22%20fill%3D%22%23002B49%22%3E%3C%2Fpath%3E%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3Cpath%20d%3D%22M18.4764677%2C33.32%20L5.63464339%2C33.32%20C5.11838915%2C33.32%204.66666667%2C32.8626667%204.66666667%2C32.34%20C4.66666667%2C31.8173333%205.11838915%2C31.36%205.63464339%2C31.36%20L18.4764677%2C31.36%20C18.992722%2C31.36%2019.4444444%2C31.8173333%2019.4444444%2C32.34%20C19.4444444%2C32.8626667%2018.992722%2C33.32%2018.4764677%2C33.32%20Z%22%20id%3D%22Shape%22%20fill%3D%22%23002B49%22%3E%3C%2Fpath%3E%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3Cpath%20d%3D%22M40.447386%2C9.17073683%20L37.3403933%2C9.17073683%20L37.3403933%2C6.15852631%20C37.3403933%2C4.71741052%2037.2115481%2C4.58536841%2035.7877795%2C4.58536841%20L32.6807867%2C4.58536841%20L32.6807867%2C1.57315789%20C32.6807867%2C0.132042105%2032.5519415%2C0%2031.1281728%2C0%20L1.55261388%2C0%20C0.128845184%2C0%200%2C0.132042105%200%2C1.57315789%20L0%2C38.2561053%20C0%2C39.697221%200.128845184%2C39.8292631%201.55261388%2C39.8292631%20L4.65960666%2C39.8292631%20L4.65960666%2C42.8414738%20C4.65960666%2C44.2825893%204.78845185%2C44.4146317%206.21222054%2C44.4146317%20L9.31921332%2C44.4146317%20L9.31921332%2C47.4268421%20C9.31921332%2C48.8679579%209.44805851%2C49%2010.8718272%2C49%20L40.447386%2C49%20C41.8711549%2C49%2042%2C48.8679579%2042%2C47.4268421%20L42%2C10.7438947%20C42%2C9.30277893%2041.8711549%2C9.17073683%2040.447386%2C9.17073683%20Z%20M6.53580433%2C39.8937369%20L31.1281728%2C39.8937369%20C32.0342074%2C39.8937369%2032.7460918%2C39.1731789%2032.7460918%2C38.2561053%20L32.7460918%2C6.42054738%20L35.4641957%2C6.42054738%20L35.4641957%2C42.5139472%20L6.53580433%2C42.5139472%20L6.53580433%2C39.8937369%20Z%20M1.87619768%2C37.9285789%20L1.87619768%2C1.83517895%20L30.804589%2C1.83517895%20L30.804589%2C37.9285789%20L1.87619768%2C37.9285789%20Z%20M11.195411%2C44.4791052%20L35.7877795%2C44.4791052%20C36.6938141%2C44.4791052%2037.4056984%2C43.7585472%2037.4056984%2C42.8414738%20L37.4056984%2C11.0714211%20L40.1238024%2C11.0714211%20L40.1238024%2C47.164821%20L11.195411%2C47.164821%20L11.195411%2C44.4791052%20Z%22%20id%3D%22Shape%22%20fill%3D%22%23002B49%22%3E%3C%2Fpath%3E%20%20%20%20%20%20%20%20%20%20%20%20%3C%2Fg%3E%20%20%20%20%20%20%20%20%3C%2Fg%3E%20%20%20%20%3C%2Fg%3E%3C%2Fsvg%3E");
  background-repeat: no-repeat;
  width: 44px;
  height: 51px; }

.icon-ill-document {
  background-image: url("data:image/svg+xml;charset%3DUS-ASCII,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22UTF-8%22%3F%3E%3Csvg%20width%3D%2235px%22%20height%3D%2249px%22%20viewBox%3D%220%200%2035%2049%22%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%3E%20%20%20%20%20%20%20%20%3Ctitle%3Eicon-document%3C%2Ftitle%3E%20%20%20%20%3Cdesc%3ECreated%20with%20Sketch.%3C%2Fdesc%3E%20%20%20%20%3Cdefs%3E%3C%2Fdefs%3E%20%20%20%20%3Cg%20id%3D%22Page-1%22%20stroke%3D%22none%22%20stroke-width%3D%221%22%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%20%20%20%20%20%20%20%20%3Cg%20id%3D%22icon-document%22%20fill-rule%3D%22nonzero%22%3E%20%20%20%20%20%20%20%20%20%20%20%20%3Cpolygon%20id%3D%22Shape%22%20fill%3D%22%23E4EFFF%22%20points%3D%220.5%2048.422%200.5%200.508%2021%200.5%2033.75%2013.261%2033.75%2048.409%22%3E%3C%2Fpolygon%3E%20%20%20%20%20%20%20%20%20%20%20%20%3Cpath%20d%3D%22M0%2C48.922%20L0%2C0.008%20L21.207%2C0%20L34.25%2C13.054%20L34.25%2C48.909%20L0%2C48.922%20Z%20M1%2C1.008%20L1%2C47.922%20L33.25%2C47.909%20L33.25%2C13.468%20L20.793%2C1%20L1%2C1.008%20Z%22%20id%3D%22Shape%22%20fill%3D%22%23005BAD%22%3E%3C%2Fpath%3E%20%20%20%20%20%20%20%20%20%20%20%20%3Cpolygon%20id%3D%22Shape%22%20fill%3D%22%234F93D6%22%20points%3D%2220.322%200.999%2020.322%2013.957%2033.26%2013.957%2033.75%2013.957%2033.75%2013.261%2021%200.5%2020.322%200.5%22%3E%3C%2Fpolygon%3E%20%20%20%20%20%20%20%20%20%20%20%20%3Cpath%20d%3D%22M34.25%2C14.457%20L19.822%2C14.457%20L19.822%2C0%20L21.207%2C0%20L34.25%2C13.054%20L34.25%2C14.457%20Z%20M20.822%2C13.457%20L33.238%2C13.457%20L20.822%2C1.029%20L20.822%2C13.457%20Z%22%20id%3D%22Shape%22%20fill%3D%22%23005BAD%22%3E%3C%2Fpath%3E%20%20%20%20%20%20%20%20%20%20%20%20%3Crect%20id%3D%22Rectangle-path%22%20fill%3D%22%23005BAD%22%20transform%3D%22translate%2811.312658%2C%2041.528807%29%20rotate%28-0.112000%29%20translate%28-11.312658%2C%20-41.528807%29%20%22%20x%3D%226.50015793%22%20y%3D%2241.0288073%22%20width%3D%229.625%22%20height%3D%221%22%3E%3C%2Frect%3E%20%20%20%20%20%20%20%20%20%20%20%20%3Crect%20id%3D%22Rectangle-path%22%20fill%3D%22%23005BAD%22%20x%3D%226.5%22%20y%3D%2234.136%22%20width%3D%2221.25%22%20height%3D%221%22%3E%3C%2Frect%3E%20%20%20%20%20%20%20%20%20%20%20%20%3Crect%20id%3D%22Rectangle-path%22%20fill%3D%22%23005BAD%22%20x%3D%226.5%22%20y%3D%2227.243%22%20width%3D%2221.25%22%20height%3D%221%22%3E%3C%2Frect%3E%20%20%20%20%20%20%20%20%20%20%20%20%3Crect%20id%3D%22Rectangle-path%22%20fill%3D%22%23005BAD%22%20x%3D%226.5%22%20y%3D%2220.35%22%20width%3D%2221.25%22%20height%3D%221%22%3E%3C%2Frect%3E%20%20%20%20%20%20%20%20%3C%2Fg%3E%20%20%20%20%3C%2Fg%3E%3C%2Fsvg%3E");
  background-repeat: no-repeat;
  width: 35px;
  height: 49px; }

.icon-ill-folder {
  background-image: url("data:image/svg+xml;charset%3DUS-ASCII,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22UTF-8%22%3F%3E%3Csvg%20width%3D%2249px%22%20height%3D%2237px%22%20viewBox%3D%220%200%2049%2037%22%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%3E%20%20%20%20%20%20%20%20%3Ctitle%3Eicon-folder%3C%2Ftitle%3E%20%20%20%20%3Cdesc%3ECreated%20with%20Sketch.%3C%2Fdesc%3E%20%20%20%20%3Cdefs%3E%3C%2Fdefs%3E%20%20%20%20%3Cg%20id%3D%22Page-1%22%20stroke%3D%22none%22%20stroke-width%3D%221%22%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%20%20%20%20%20%20%20%20%3Cg%20id%3D%22icon-folder%22%20transform%3D%22translate%280.000000%2C%20-1.000000%29%22%20fill-rule%3D%22nonzero%22%3E%20%20%20%20%20%20%20%20%20%20%20%20%3Cpath%20d%3D%22M0.5%2C36.75%20L48.471%2C36.75%20L48.471%2C6.2%20L22.693%2C6.2%20C21.8060565%2C6.22481333%2020.9199551%2C6.12654458%2020.06%2C5.908%20C19.4011111%2C5.63927374%2018.8274214%2C5.19691063%2018.4%2C4.628%20C18.134%2C4.257%2017.481%2C3.437%2017.126%2C2.976%20C16.7421323%2C2.47581669%2016.2368133%2C2.08202582%2015.658%2C1.832%20C15.0688171%2C1.59829611%2014.4386724%2C1.48539378%2013.805%2C1.5%20L0.5%2C1.5%20L0.5%2C36.75%20Z%22%20id%3D%22Shape%22%20fill%3D%22%23E4EFFF%22%3E%3C%2Fpath%3E%20%20%20%20%20%20%20%20%20%20%20%20%3Cpath%20d%3D%22M48.97%2C37.25%20L0%2C37.25%20L0%2C1%20L13.805%2C1%20C14.505399%2C0.983995684%2015.2017682%2C1.11020623%2015.852%2C1.371%20C16.5083061%2C1.6565198%2017.0815001%2C2.10379008%2017.518%2C2.671%20L17.938%2C3.211%20C18.262%2C3.626%2018.62%2C4.084%2018.801%2C4.338%20C19.1746614%2C4.83170621%2019.6745433%2C5.21551327%2020.248%2C5.449%20C21.0463667%2C5.64802467%2021.8687419%2C5.73386408%2022.691%2C5.704%20L48.97%2C5.704%20L48.97%2C37.25%20Z%20M1%2C36.25%20L47.97%2C36.25%20L47.97%2C6.7%20L22.692%2C6.7%20C21.7398929%2C6.73090101%2020.7884842%2C6.62002129%2019.869%2C6.371%20C19.1216455%2C6.06653068%2018.4716049%2C5.56378655%2017.989%2C4.917%20C17.812%2C4.67%2017.465%2C4.226%2017.15%2C3.823%20L16.725%2C3.277%20C16.395109%2C2.84644598%2015.9611895%2C2.50681195%2015.464%2C2.29%20C14.9361397%2C2.08271366%2014.371878%2C1.98407841%2013.805%2C2%20L1%2C2%20L1%2C36.25%20Z%22%20id%3D%22Shape%22%20fill%3D%22%23005BAD%22%3E%3C%2Fpath%3E%20%20%20%20%20%20%20%20%20%20%20%20%3Cpath%20d%3D%22M0.5%2C12.75%20L48.471%2C12.75%20L48.471%2C6.2%20L22.693%2C6.2%20C21.8060565%2C6.22481333%2020.9199551%2C6.12654458%2020.06%2C5.908%20C19.4011111%2C5.63927374%2018.8274214%2C5.19691063%2018.4%2C4.628%20C18.134%2C4.257%2017.481%2C3.437%2017.126%2C2.976%20C16.7421323%2C2.47581669%2016.2368133%2C2.08202582%2015.658%2C1.832%20C15.0688171%2C1.59829611%2014.4386724%2C1.48539378%2013.805%2C1.5%20L0.5%2C1.5%20L0.5%2C12.75%20Z%22%20id%3D%22Shape%22%20fill%3D%22%234F93D6%22%3E%3C%2Fpath%3E%20%20%20%20%20%20%20%20%20%20%20%20%3Cpath%20d%3D%22M48.97%2C13.25%20L0%2C13.25%20L0%2C1%20L13.805%2C1%20C14.505399%2C0.983995684%2015.2017682%2C1.11020623%2015.852%2C1.371%20C16.5083061%2C1.6565198%2017.0815001%2C2.10379008%2017.518%2C2.671%20L17.938%2C3.211%20C18.262%2C3.626%2018.62%2C4.084%2018.801%2C4.338%20C19.1746614%2C4.83170621%2019.6745433%2C5.21551327%2020.248%2C5.449%20C21.0463667%2C5.64802467%2021.8687419%2C5.73386408%2022.691%2C5.704%20L48.97%2C5.704%20L48.97%2C13.25%20Z%20M1%2C12.25%20L47.97%2C12.25%20L47.97%2C6.7%20L22.692%2C6.7%20C21.7398929%2C6.73090101%2020.7884842%2C6.62002129%2019.869%2C6.371%20C19.1216455%2C6.06653068%2018.4716049%2C5.56378655%2017.989%2C4.917%20C17.812%2C4.67%2017.465%2C4.226%2017.15%2C3.823%20L16.725%2C3.277%20C16.395109%2C2.84644598%2015.9611895%2C2.50681195%2015.464%2C2.29%20C14.9361397%2C2.08271366%2014.371878%2C1.98407841%2013.805%2C2%20L1%2C2%20L1%2C12.25%20Z%22%20id%3D%22Shape%22%20fill%3D%22%23005BAD%22%3E%3C%2Fpath%3E%20%20%20%20%20%20%20%20%3C%2Fg%3E%20%20%20%20%3C%2Fg%3E%3C%2Fsvg%3E");
  background-repeat: no-repeat;
  width: 49px;
  height: 37px; }

.icon-ill-upload-document {
  background-image: url("data:image/svg+xml;charset%3DUS-ASCII,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22UTF-8%22%3F%3E%3Csvg%20width%3D%2246px%22%20height%3D%2252px%22%20viewBox%3D%220%200%2046%2052%22%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%3E%20%20%20%20%20%20%20%20%3Ctitle%3Eill-upload-document%3C%2Ftitle%3E%20%20%20%20%3Cdesc%3ECreated%20with%20Sketch.%3C%2Fdesc%3E%20%20%20%20%3Cdefs%3E%3C%2Fdefs%3E%20%20%20%20%3Cg%20id%3D%22Page-1%22%20stroke%3D%22none%22%20stroke-width%3D%221%22%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%20%20%20%20%20%20%20%20%3Cg%20id%3D%22ill-upload-document%22%20transform%3D%22translate%282.000000%2C%201.000000%29%22%20stroke%3D%22%23F3F6F7%22%20fill-rule%3D%22nonzero%22%3E%20%20%20%20%20%20%20%20%20%20%20%20%3Cpath%20d%3D%22M0.0111429897%2C0.412442026%20L0.0111429897%2C48.9203892%20L41.8464018%2C48.9203892%20L41.8464018%2C12.8498766%20L28.6718225%2C0.412442026%20L0.0111429897%2C0.412442026%20Z%20M3.50371424%2C3.69093921%20L25.9101199%2C3.69093921%20L25.9101199%2C15.2220257%20L38.0889958%2C15.2220257%20L38.0889958%2C45.4839719%20L3.50371424%2C45.4839719%20L3.50371424%2C3.69093921%20Z%20M29.0830972%2C4.98041291%20L36.7900267%2C12.1929981%20L29.0830972%2C12.1929981%20L29.0830972%2C4.98041291%20Z%22%20id%3D%22Fill-1%22%20stroke-width%3D%222.36403509%22%20fill%3D%22%23002B49%22%3E%3C%2Fpath%3E%20%20%20%20%20%20%20%20%20%20%20%20%3Cpolygon%20id%3D%22Fill-2%22%20stroke-width%3D%220.5%22%20fill%3D%22%23FFB81C%22%20points%3D%2215.8366572%2033.3425669%2025.2880294%2033.3425669%2025.2880294%2032.4611843%2015.8366572%2032.4611843%22%3E%3C%2Fpolygon%3E%20%20%20%20%20%20%20%20%20%20%20%20%3Cpolygon%20id%3D%22Fill-3%22%20stroke-width%3D%220.5%22%20fill%3D%22%23FFB81C%22%20points%3D%2217.8264371%2035.105186%2023.2983044%2035.105186%2023.2983044%2034.2238521%2017.8264371%2034.2238521%22%3E%3C%2Fpolygon%3E%20%20%20%20%20%20%20%20%20%20%20%20%3Cpolygon%20id%3D%22Fill-5%22%20stroke-width%3D%220.5%22%20fill%3D%22%23FFB81C%22%20points%3D%2220.1477627%2018.1471645%2013.6320386%2023.9194316%2012.5769705%2022.9847883%2020.7820236%2015.7160111%2028.6306244%2022.6683883%2027.5755563%2023.6032263%2021.6401252%2018.3452614%2021.6401252%2030.1814638%2020.1477627%2030.1814638%22%3E%3C%2Fpolygon%3E%20%20%20%20%20%20%20%20%3C%2Fg%3E%20%20%20%20%3C%2Fg%3E%3C%2Fsvg%3E");
  background-repeat: no-repeat;
  width: 46px;
  height: 52px; }

@font-face {
  font-family: "icons";
  src: url("../../fonts/nm-px/icons/nm-px-icons.eot?c027ce00960ed2507e556d3807f84446");
  src: url(../../fonts/nm-px/icons/nm-px-icons.eot?c027ce00960ed2507e556d3807f84446?#iefix) format("embedded-opentype"), url(../../fonts/nm-px/icons/nm-px-icons.woff?c027ce00960ed2507e556d3807f84446) format("woff"), url(../../fonts/nm-px/icons/nm-px-icons.ttf?c027ce00960ed2507e556d3807f84446) format("ttf"), url(../../fonts/nm-px/icons/nm-px-icons.svg?c027ce00960ed2507e556d3807f84446#icons) format("svg"); }

.icon {
  display: inline-block;
  cursor: inherit; }
  .icon:before {
    display: inline-block;
    vertical-align: middle;
    line-height: 1;
    font-weight: normal;
    font-style: normal;
    speak: none;
    text-decoration: inherit;
    text-transform: none;
    text-rendering: auto;
    font-family: "icons";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }

button .icon,
.button .icon {
  vertical-align: top;
  position: relative;
  width: 1em;
  height: 1em; }
  @media all and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    button .icon,
    .button .icon {
      height: 0.9375rem;
      left: 0;
      top: 0.3125rem;
      width: 0.9375rem; } }
  button .icon:before,
  .button .icon:before {
    font-size: 1.25em;
    position: absolute;
    top: -0.125em;
    left: 0; }

.reset-button .icon {
  vertical-align: auto;
  position: static;
  width: auto;
  height: auto; }
  .reset-button .icon:before {
    font-size: 100%;
    position: static;
    top: auto;
    left: auto; }

.icon-achievable-dot:before {
  content: "\f101"; }

.icon-add:before {
  content: "\f102"; }

.icon-alert:before {
  content: "\f103"; }

.icon-arrow-down:before {
  content: "\f104"; }

.icon-arrow-left:before {
  content: "\f105"; }

.icon-arrow-right:before {
  content: "\f106"; }

.icon-arrow-up:before {
  content: "\f107"; }

.icon-barchart:before {
  content: "\f108"; }

.icon-bill-due:before {
  content: "\f109"; }

.icon-bookmark-solid:before {
  content: "\f10a"; }

.icon-bookmark:before {
  content: "\f10b"; }

.icon-bullet:before {
  content: "\f10c"; }

.icon-caret-down:before {
  content: "\f10d"; }

.icon-caret-left:before {
  content: "\f10e"; }

.icon-caret-right:before {
  content: "\f10f"; }

.icon-caret-up:before {
  content: "\f110"; }

.icon-check:before {
  content: "\f111"; }

.icon-close:before {
  content: "\f112"; }

.icon-collapse:before {
  content: "\f113"; }

.icon-date:before {
  content: "\f114"; }

.icon-document-stack:before {
  content: "\f115"; }

.icon-document:before {
  content: "\f116"; }

.icon-download:before {
  content: "\f117"; }

.icon-edit:before {
  content: "\f118"; }

.icon-email:before {
  content: "\f119"; }

.icon-exit:before {
  content: "\f11a"; }

.icon-expand:before {
  content: "\f11b"; }

.icon-fail:before {
  content: "\f11c"; }

.icon-gps:before {
  content: "\f11d"; }

.icon-grid-view:before {
  content: "\f11e"; }

.icon-help:before {
  content: "\f11f"; }

.icon-home:before {
  content: "\f120"; }

.icon-info:before {
  content: "\f121"; }

.icon-investments:before {
  content: "\f122"; }

.icon-list-view:before {
  content: "\f123"; }

.icon-lock:before {
  content: "\f124"; }

.icon-move:before {
  content: "\f125"; }

.icon-new-window:before {
  content: "\f126"; }

.icon-newspaper:before {
  content: "\f127"; }

.icon-notification:before {
  content: "\f128"; }

.icon-options:before {
  content: "\f129"; }

.icon-paperless:before {
  content: "\f12a"; }

.icon-pdf:before {
  content: "\f12b"; }

.icon-piechart:before {
  content: "\f12c"; }

.icon-plus:before {
  content: "\f12d"; }

.icon-refresh:before {
  content: "\f12e"; }

.icon-remove:before {
  content: "\f12f"; }

.icon-save:before {
  content: "\f130"; }

.icon-scroll-left:before {
  content: "\f131"; }

.icon-search:before {
  content: "\f132"; }

.icon-settings:before {
  content: "\f133"; }

.icon-share:before {
  content: "\f134"; }

.icon-sidepanel:before {
  content: "\f135"; }

.icon-sort:before {
  content: "\f136"; }

.icon-split:before {
  content: "\f137"; }

.icon-star:before {
  content: "\f138"; }

.icon-success:before {
  content: "\f139"; }

.icon-suitcase:before {
  content: "\f13a"; }

.icon-sync:before {
  content: "\f13b"; }

.icon-sysicon-downloadalt:before {
  content: "\f13c"; }

.icon-sysicon-fileandfolder:before {
  content: "\f13d"; }

.icon-sysicon-folder:before {
  content: "\f13e"; }

.icon-sysicon-lock:before {
  content: "\f13f"; }

.icon-sysicon-multipledocument:before {
  content: "\f140"; }

.icon-sysicon-search:before {
  content: "\f141"; }

.icon-sysicon-trash:before {
  content: "\f142"; }

.icon-unlock:before {
  content: "\f143"; }

.icon-upload:before {
  content: "\f144"; }

.icon-vertical-ellipses:before {
  content: "\f145"; }

.icon-illustrative {
  display: inline-block; }
  .icon-illustrative.contain {
    background-size: contain;
    width: auto;
    height: auto; }

.icon-left-text {
  padding-right: 0.875rem; }

.icon-right-text {
  padding-right: 0.875rem; }
