*:focus {
  outline: 1px solid #00A9DF;
  outline: auto -webkit-focus-ring-color;
  outline-color: #00A9DF; }

*:active {
  outline: 0; }

@media all and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  *:focus {
    outline: 0; }
  a:focus,
  button:focus,
  input:focus,
  optgroup:focus,
  select:focus,
  textarea:focus,
  [type="button"]:focus,
  [type="reset"]:focus,
  [type="submit"]:focus,
  [type="checkbox"]:focus,
  [type="radio"]:focus,
  [type="search"]:focus {
    outline: 1px solid #00A9DF;
    outline: auto -webkit-focus-ring-color;
    outline-color: #00A9DF; } }

@font-face {
  font-family: "icons";
  src: url("../../fonts/lv-cx/icons/lv-cx-icons.eot?9cba1318a5bd27bdb5905730e063415c");
  src: url(../../fonts/lv-cx/icons/lv-cx-icons.eot?9cba1318a5bd27bdb5905730e063415c?#iefix) format("embedded-opentype"), url(../../fonts/lv-cx/icons/lv-cx-icons.woff?9cba1318a5bd27bdb5905730e063415c) format("woff"), url(../../fonts/lv-cx/icons/lv-cx-icons.ttf?9cba1318a5bd27bdb5905730e063415c) format("ttf"), url(../../fonts/lv-cx/icons/lv-cx-icons.svg?9cba1318a5bd27bdb5905730e063415c#icons) format("svg"); }

.icon {
  display: inline-block;
  cursor: inherit; }
  .icon:before {
    display: inline-block;
    vertical-align: middle;
    line-height: 1;
    font-weight: normal;
    font-style: normal;
    speak: none;
    text-decoration: inherit;
    text-transform: none;
    text-rendering: auto;
    font-family: "icons";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }

button .icon,
.button .icon {
  vertical-align: top;
  position: relative;
  width: 1em;
  height: 1em; }
  @media all and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    button .icon,
    .button .icon {
      height: 0.9375rem;
      left: 0;
      top: 0.3125rem;
      width: 0.9375rem; } }
  button .icon:before,
  .button .icon:before {
    font-size: 1.25em;
    position: absolute;
    top: -0.125em;
    left: 0; }

.reset-button .icon {
  vertical-align: auto;
  position: static;
  width: auto;
  height: auto; }
  .reset-button .icon:before {
    font-size: 100%;
    position: static;
    top: auto;
    left: auto; }

.icon-add:before {
  content: "\f101"; }

.icon-alert:before {
  content: "\f102"; }

.icon-arrow-down:before {
  content: "\f103"; }

.icon-arrow-left:before {
  content: "\f104"; }

.icon-arrow-right:before {
  content: "\f105"; }

.icon-arrow-up:before {
  content: "\f106"; }

.icon-barchart:before {
  content: "\f107"; }

.icon-bill-due:before {
  content: "\f108"; }

.icon-book:before {
  content: "\f109"; }

.icon-bookmark-solid:before {
  content: "\f10a"; }

.icon-bookmark:before {
  content: "\f10b"; }

.icon-bullet:before {
  content: "\f10c"; }

.icon-calendar:before {
  content: "\f10d"; }

.icon-caret-down:before {
  content: "\f10e"; }

.icon-caret-left:before {
  content: "\f10f"; }

.icon-caret-right:before {
  content: "\f110"; }

.icon-caret-up:before {
  content: "\f111"; }

.icon-check:before {
  content: "\f112"; }

.icon-close:before {
  content: "\f113"; }

.icon-cloud:before {
  content: "\f114"; }

.icon-collapse:before {
  content: "\f115"; }

.icon-date:before {
  content: "\f116"; }

.icon-document-stack:before {
  content: "\f117"; }

.icon-document:before {
  content: "\f118"; }

.icon-download:before {
  content: "\f119"; }

.icon-edit:before {
  content: "\f11a"; }

.icon-exit:before {
  content: "\f11b"; }

.icon-expand:before {
  content: "\f11c"; }

.icon-fail:before {
  content: "\f11d"; }

.icon-help:before {
  content: "\f11e"; }

.icon-info:before {
  content: "\f11f"; }

.icon-issue-credit:before {
  content: "\f120"; }

.icon-lock:before {
  content: "\f121"; }

.icon-new-window:before {
  content: "\f122"; }

.icon-newspaper:before {
  content: "\f123"; }

.icon-notification-alt:before {
  content: "\f124"; }

.icon-notification:before {
  content: "\f125"; }

.icon-options:before {
  content: "\f126"; }

.icon-pdf:before {
  content: "\f127"; }

.icon-permissions:before {
  content: "\f128"; }

.icon-piechart:before {
  content: "\f129"; }

.icon-plus:before {
  content: "\f12a"; }

.icon-refresh:before {
  content: "\f12b"; }

.icon-remove:before {
  content: "\f12c"; }

.icon-salesforce:before {
  content: "\f12d"; }

.icon-search:before {
  content: "\f12e"; }

.icon-settings:before {
  content: "\f12f"; }

.icon-sort:before {
  content: "\f130"; }

.icon-split:before {
  content: "\f131"; }

.icon-star:before {
  content: "\f132"; }

.icon-success:before {
  content: "\f133"; }

.icon-suitcase:before {
  content: "\f134"; }

.icon-sync:before {
  content: "\f135"; }

.icon-template-library:before {
  content: "\f136"; }

.icon-unlock:before {
  content: "\f137"; }

.icon-upload:before {
  content: "\f138"; }

.icon-vertical-ellipses:before {
  content: "\f139"; }

.icon-illustrative {
  display: inline-block; }
  .icon-illustrative.contain {
    background-size: contain;
    width: auto;
    height: auto; }

.icon-left-text {
  padding-right: 0.875rem; }

.icon-right-text {
  padding-right: 0.875rem; }
